.sharing {
  width: 35px;
  height: 35px;
  margin-left: 40px;
  border: none;
  cursor: pointer;
  color: transparent;
  background: #fff url("../images/sharing.png") no-repeat center;
  background-size: contain;
}