.tvShow {

  &__title {
    display: block;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #aeaeae;
    font-weight: 100;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #cccccc;

    &:first-child {
      border-top: 1px solid #cccccc;
    }

    &.active {
      background: rgba(255,0,51,.5);

      .tvShow__item-thumbnail {
        border: 3px solid #f03;
      }
    }

    &-thumbnail {
      display: block;
      width: 300px;
    }

    &-time {
      padding: 0 40px;
      font-size: 70px;
    }

    &-description {

    }

    &-title {
      display: block;
      padding: 0 40px;
      font-size: 40px;
      text-transform: uppercase;
    }

    &-subtitle {
      display: block;
      padding: 0 40px;
      font-size: 20px;

    }
  }
}

.tvShow-date {
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  color: transparent;
  background: #fff url("../img/date.png") no-repeat center;
  background-size: contain;
}

//.tvShow-lang{
//  width: 35px;
//  height: 35px;
//  border: none;
//  cursor: pointer;
//  color: transparent;
//  background: #fff url("../img/date.png") no-repeat center;
//  background-size: contain;
//}